.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  max-width: 280px;
  margin: 0 auto;
  height: 350px;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  &__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__info {
    margin-top: 20px;
    text-align: center;

    &__name {
      font-weight: 800;
      font-size: 1.5rem;
      color: #2c3e50;
      transition: color 0.3s ease;

      &:hover {
        color: #e74c3c;
      }
    }
  }

  &__name {
    text-align: center;
    width: 180px;
    color: #787878;
    font-weight: 400;
  }

  &__divider {
    margin: 15px 0;
    width: 40%;
  }

  &__brand-name {
    font-size: 1rem;
    font-weight: 500;
    color: #7f8c8d;
    text-align: center;
    margin-top: 5px;
    transition: color 0.3s ease;

    &:hover {
      color: #2980b9;
    }
  }

  &__price {
    font-size: 1rem;
    color: #e74c3c;
    font-weight: bold;
    margin-top: 10px;
  }
}

.row {
  .col-3 {
    margin-bottom: 30px;
  }
}
