.dropdown-product {
  position: relative;

  .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    max-height: 0;
    overflow: hidden;
    margin-top: 15px;
    transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease;
    border: none;
    z-index: 9999;

    .dropdown-item {
      padding: 8px 12px;
      font-size: 14px;
      text-transform: capitalize;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: #f8f9fa;
      }
    }
  }

  &:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
  }

}

.user-menu {
  display: flex;
  align-items: center;

  .username {
    white-space: nowrap; // Ngăn không cho tên bị ngắt dòng
    overflow: hidden; // Ẩn phần tên bị tràn
    text-overflow: ellipsis; // Thêm dấu "..." nếu tên quá dài
    max-width: 120px; // Đặt chiều rộng tối đa cho tên
  }
}



