.dropdown-product {
  position: relative;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
    overflow: hidden;
    margin-top: 8px;
    transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease;
    border: none;
    z-index: 9999;

    .dropdown-item {
      padding: 8px 12px;
      font-size: 14px;
      text-transform: capitalize;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: #f8f9fa;
      }
    }
  }

  &:hover .dropdown-toggle,
  &:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
  }
}


.user-menu {
  display: flex;
  align-items: center;

  &__icon-login {
    width: 25px;
    height: 29px;
    fill: currentColor;
  }

  &__avatar-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__avatar {
    width: 80px;
  }

  &__username {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      max-width: 70px;
    }
  }

  &__dropdown {
    position: absolute;
    top: 112%;
    width: 180px;
    right: -10px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;

    &.show {
      display: block;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0.6rem 1rem;
        cursor: pointer;
        display: flex;

        &:hover {
          background-color: #f8f9fa;
        }

        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-block {
  flex-shrink: 0;
}

.nav-block {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.user-block {
  flex-shrink: 0;
}

.nav-link {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #909090;
  transition: color 0.3s ease;

  &:hover {
    color: #000000;
  }

  &.active {
    color: #000000;
    font-weight: bold; // In đậm nếu active
  }
}


